<div id="container">
    <div id="quizz-launcher">
        <div id="launch-title">
            QUIZZ
        </div>
        <div id="quizz-setting">
            <h2>TYPE</h2>

            <div class="pre-settings">
                <label class="control control-checkbox" *ngFor="let index = index; let type of typeIntervalleNameList ">
                    {{type}}
                    <input type="checkbox" [checked] = "typeIntervalleListSetting[index]" (change)="typeIntervalleListSetting[index] = !typeIntervalleListSetting[index]" />
                    <div class="control_indicator"></div>
                </label>

            </div>
            <h2>INTERVALLES</h2>

            <div class="intervalle-settings">
                <label class="control control-checkbox" *ngFor="let index = index; let intervalle of intervalleNameList ">
                    {{intervalle}}
                    <input type="checkbox" [checked] = "intervalleListSetting[index]" (change)="intervalleListSetting[index] = !intervalleListSetting[index]" />
                    <div class="control_indicator"></div>
                </label>
            
            </div>
            <h2>AUTRES</h2>

            <div class="pre-settings">
                <label>
                    Vitesse :
                    <input [(ngModel)] = "vitesseIntervalle" type="range" min="0.2" max="3" step="0.1">
                </label>
                <label>
                    Nombre de question :
                    <input [(ngModel)] = "nombreQuestion" class="inputNumber" type="number" name="numberInput" value="1" min="0" max="100" step="1">
                </label>

            </div>

        </div>
        <div id="launch-bottom">
            <button id="launch-button" (click)="startQuiz()">START</button>


        </div>

    </div>

</div>