<div id="container">
    <div id="question-container">


        <div id="header">

            <button class="mat-icon-button material-symbols-outlined" (click)="returnQuizMenu()"><mat-icon
                    fontIcon="home"></mat-icon></button>
            <div id="title">
                Trouve l'intervalle joué
            </div>

            <div id="numero-question">{{currentQuestion.numeroQuestion}}/{{questionList.length}}</div>


        </div>
        <mat-progress-bar mode="determinate"  [value]="currentQuestion.numeroQuestion / questionList.length * 100"></mat-progress-bar>

        <div id="question">
            <label class="answer-radio-button" *ngFor="let intervalle of answersIntervalleList "
                [ngStyle]="{'color': (currentQuestion.isAnswered && intervalle === currentResponse)? 'rgb(0,200,0)' : 'black' }">
                <input type="radio" name="radio" (change)="currentAnswer = intervalle" />
                {{intervalle}}

            </label>

        </div>
        <mat-progress-bar mode="determinate" [color]="barTimer"  [value]="currentTimer / tempsReponse * 100"></mat-progress-bar>

        <div id="footer">
            <button class="mat-icon-button" (click)="replaySound()"><mat-icon fontIcon="refresh"></mat-icon></button>
            <button mat-raised-button id = "validate-button" (click)="validate()" [ngStyle]="{'background-color': '#0066CC'}" >VALIDER</button>
            <button class="mat-icon-button" id = "next-button"(click)="nextQuestion()" [disabled]="isFinished" ><mat-icon
                    fontIcon="arrow_forward_ios"></mat-icon></button>



        </div>
    </div>
</div>