<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
  
    <div id="router-content">
    <a class="navigate-button" routerLink="/guitar-tuner" (click)="drawer.toggle()"><span class="label-link">Accordeur</span></a>
    <a class="navigate-button" routerLink="/learning-interval" (click)="drawer.toggle()"><span class="label-link">Apprendre les intervalles</span></a>
  </div>
  </mat-drawer>

  <div class="main-content">
      <button id="menu-button" (click)="drawer.toggle()" [ngStyle]="{'color':'white'}">   
        <mat-icon>menu</mat-icon>
      </button>
      <span id="title">Guitar App</span>
      <div class = "content">
        <router-outlet></router-outlet>
      </div>
    </div>
     
  

</mat-drawer-container>

