<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
  
    <div id="router-content">
    <a routerLink="/guitar-tuner">Guitar Tuner</a>
    <a routerLink="/learning-interval">Learn Interval</a>
  </div>
  </mat-drawer>

  <div class="main-content">
      <button id="menu-button" (click)="drawer.toggle()" [ngStyle]="{'color':'white'}">   
        <mat-icon>menu</mat-icon>
      </button>
      <span id="title">Guitar App</span>
      <div class = "content">
        <router-outlet></router-outlet>
      </div>
    </div>
     
  

</mat-drawer-container>

